{% extends 'base.html' %}
{% block title %}MediCare | Developers Section{% endblock %}
{% block content %}
{% load static %}
<main id="main">

<style>
   .developer{
    margin-top: 250px;
  }
  @media only screen and (max-width: 600px) {
  .developer{
    margin-top: 170px;
  }
}
</style>


        <!-- ======= Developers Section ======= -->
    <section id="developer" class="developer" >
      <div class="container">

        <div class="section-title">
          <h2>Developer</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</?p> -->
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static "img/members/developerimg.jpg" %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Jaydeep Gedam</h4>
                <span></span>
                <p>Founder at MediCare, passionate developer, management enthusiast.</p>
                <div class="social">
                  <a href="https://www.linkedin.com/in/jaydeep-gedam-141a8a216/" target="_blank"><i class="ri-linkedin-fill"></i></a>
                  <a href="https://github.com/JaydeepGedam/" target="_blank"><i class="ri-github-fill"></i></a>
                  <a href="https://www.instagram.com/gedam.jaydeep/" target="_blank"><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static "img/members/member-2.jpg" %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mr. Bharat Chaudhary</h4>
                <span>Sr. Executive</span>
                <p>Development by Mr. Bharat Chaudhary, Sr. Executive at MediCare.</p>
                <div class="social">
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static "img/members/member-2.jpg" %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Samiksha Gedam</h4>
                <span></span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static "img/members/member-3.jpg" %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Vaishnavi Bangar</h4>
                <span></span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static "img/members/member-4.jpg" %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Anurag Dahiwade</h4>
                <span></span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static "img/members/member-5.jpg" %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Gaurav Gimonkar</h4>
                <span></span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Developer Section -->

  </main><!-- End #main -->

{% endblock %}

