<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
    {% load static %}
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<!-- Favicons -->
  <link href="{% static "img/favicon1.png" %}" rel="icon">
  <link href="{% static "img/favicon.png" %}" rel="favicon">
    <title>Medifirst | Doctor Login</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/admin.css' %} ">
</head>

<body>
	<div class="wrapper">
		<div class="title">
			Doctor Login
        </div>
		<form method="POST">
            {% csrf_token %}
			<div class="field">
				<input type="text" name="username" required>
				<label>Username</label>
			</div>
			<div class="field">
				<input type="password" name="password" required>
				<label>Password</label>
			</div><br>
            <div>
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </div>

            {% if alert_flag %}
                <script>alert("Invalid Credentials. Please Try again with Valid Credentials")</script>
            {% endif %}
			<div class="field">
				<input type="submit" value="Login">
			</div>
		</form>
	</div>
</body>

</html>