{% extends 'base.html' %}

{% block title %}MediCare | Home{% endblock %}

{% block content %}
{% load static %}


{% load cart %}
{% load custom_filter %}

  <!-- Products CSS File -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


  {% block navbar %}      
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/#appointment" class="scrollto"><span>Get Appointment</span></a></li>
          <li><a href="/doctor_login" id="doctorlogin"><span>Doctor Login</span></a></li>
          <!-- <li><a href="/#contact">Contact</a></li> -->
          <li><a href="#" data-target="#mymodal" data-toggle="modal">Donate</a></li>
          <li><a href="/orders">My Orders</a></li>
        </ul>
      </nav><!-- .nav-menu -->
{% endblock %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h1>Welcome to MediCare</h1>
    <h2>Our online pharmacies can save you as much as 95% <br>on your medication.</h2>
    <a href="/products" class="btn-get-started scrollto">Explore Now &#8594;</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose MediCare?</h3>
            <p>
              It is increasingly important for shoppers to be able to shop <span>all hours</span>, from <span>any
                location</span>, and on <span>any device</span> they choose as convenience becomes a top priority and
              <span>MediCare</span> provides the better convenience for shoppers.

              And online accessibility is more than just a convenience when it comes to elderly and disable clients. So,
              being able to browse on their <span>own time</span> is our <span>main goal</span>.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class='bx bx-wallet-alt'></i>
                  <h4>Best Price</h4>
                  <p>In an era of expensiveness, MediCare provides an efficient way to shop medicines in the cheapest
                    amount.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class='bx bx-lock-alt'></i>
                  <h4>Best Security</h4>
                  <p>MediCare provides the best security measures for the data of customers and tries to fulfill the
                    needs of customer.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class='bx bx-gift'></i>
                  <h4>Donate Us</h4>
                  <p>Fulfill simple requirements, donate medicines to us, increase our productivity and get best gifts.
                  </p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->


  <!-- ======= Latest Medicines Section ======= -->

  <section id="myproduct">

    <div class="products">
      <div class="container">

        <div class="section-title">
          <h2>Latest Products</h2>
          <p>We are working in the field of good medication services. We provide best and proper checked medicines to you . So, Here are the the some latest products available on MediCare. Thank You !</p>
        </div>

        <div class="product-items">
          
        {% for product in products %}
          <!-- single product -->
          <div class="product" id={{product.id}}>
            <div class="product-content">
              <div class="product-img" style="transition: all 1s ease;">
                <a href="https://www.premiermedcorp.com/category/all" target="_blank">
                  <img src="{{product.frontimg.url}}" alt="product image">
                </a>
              </div>
              <!-- {{product | is_in_cart:request.session.cart}} -->
              <div class="product-btns">
                {% if product|is_in_cart:request.session.cart %}
                <div class="card-footer p-0 no-gutters form-control h-auto">
                  <div class="row no-gutters">
                    <form action="/#{{product.id}}" class="col-2" method="post">
                      {% csrf_token %}
                      <input hidden type="text" name="product" value="{{product.id}}" style="width:50px;">
                      <input hidden type="text" name="remove" value="True" style="width:50px;">
                      <input type="submit" value="-" class="btn btn-block btn-primary ml-0 mt-1 mb-1">
                    </form>
                    <div class="text-center col my-auto">{{product|cart_quantity:request.session.cart}} in Cart</div>
                    <form action="/#{{product.id}}" class="col-2" method="post">
                      {% csrf_token %}
                      <input hidden type="text" name="product" value="{{product.id}}" style="width:50px;">
                      <input type="submit" value="+" class="btn btn-block btn-primary ml-0 mt-1 mb-1">
                    </form>
                  </div>
                </div>
                {% else %}
                {% comment %} <button type="button" class="btn-buy"> buy now</button> {% endcomment %}
                <form action="/#{{product.id}}" method="POST">
                  {% csrf_token %}
                  <input hidden type="text" name="product" value="{{product.id}}" style="width:50px;">
                  <input type="submit" class="btn-cart" value="add to cart"> 
                </form>
                {% endif %}
              </div>
            </div>

            <div class="product-info" onclick="location.href='{% url 'product-details' product.id %}';" style="transition: all 1s ease;">
              <div class="product-info-top">
                <!-- <h2 class="sm-title">HealthCare</h2> -->
                <!-- <div class="rating">
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="far fa-star"></i></span>
                </div> -->
              </div>
              <a href="#" class="product-name">{{product.prod_name}}</a>
              <!-- <p class="product-price">$ 150.00</p> -->
              <p class="product-price">{{product.prod_price|currency}}</p>
            </div>
          </div>
          <!-- end of single product -->
        {% endfor %}
        </div>
      </div>
    </div>

  </section>

  <!-- End Latest Medicines Section -->


  <!-- ======= Appointment Section ======= -->
  <section id="appointment" class="appointment section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Make an Appointment</h2>
        <p>Do you have any health problem and want to contact doctor ? Then get your appointment by filling the
          following form and get the best recommendation at doctors place . Thank You !</p>
      </div>

      <form action="{% url 'submit_appointment' %}" method="post" role="form" class="appointment-form">
      {% csrf_token %}
        <div class="form-row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
              data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
              data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group">
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4"
              data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 form-group">
            <input type="text" name="aptdate" class="form-control" id="aptdate" placeholder="Appointment Date"
              data-rule="minlen:4" data-msg="Please enter at least 4 chars" onfocus="(this.type='date')" onblur="(this.type='text')">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group">
            <input type="date" name="tddate" class="form-control" id="tddate" placeholder="Today's Date"
              data-rule="minlen:4" data-msg="Please enter at least 4 chars" readonly>
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group"> 
            <select name="selectdoctor" id="doctor" class="form-control">
              <option value="">--Select Doctor--</option>
              <option value="Chirag Sancheti">Chirag Sancheti</option>
              <option value="Tejsh Gite">Tejsh Gite</option>
              <option value="Naitik Lad">Naitik Lad</option>
              <option value="Bharat Chaudhary">Bharat Chaudhary</option>
            </select>
            <div class="validate"></div>
          </div>
        </div>

        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit" >Make an Appointment</button></div>
      </form>
    </div>
  </section><!-- End Appointment Section -->

  <!-- ======= Doctors Section ======= -->
  <section id="doctors" class="doctors">
    <div class="container">

      <div class="section-title">
        <h2>Doctors</h2>
        <p>We have the team of professional and helful doctors connected with us to help you at every moment. Feel free
          to contact with doctors and get best recommendation from doctors. Thank You !</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="{% static "img/doctors/doctor-1.jpg" %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Dr. Chirag Sancheti</h4>
              <span>MBBS</span>
              <p>Expert in cardiology and heart health, providing comprehensive care in Amravati.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="{% static "img/doctors/doctor-2.jpg" %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Dr. Tejsh Gite</h4>
              <span>MBBS</span>
              <p>Specialist in internal medicine and chronic disease management.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="{% static "img/doctors/doctor-3.jpg" %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Dr. Naitik Lad</h4>
              <span>MBBS , MD</span>
              <p>Specialist in dermatology and skin care treatments.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="{% static "img/doctors/doctor-4.jpg" %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Dr. Bharat Chaudhary</h4>
              <span>MBBS</span>
              <p>Specialist in orthopedics and surgical procedures.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Doctors Section -->



  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>We help you answering your every question. Our doctors are always ready to give answer of your required
          question. Feel free to post your question and we will answer you as soon as possible. Thank You !</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
              href="#faq-list-1">Who manufacturers the drug? <i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                Drug manufacturers often have education materials, programs, and other resources that may help you
                understand your health condition and its management. They may also have prescription assistance
                programs.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
              class="collapsed">What foods and substances interact with the drug? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                Interactions with drugs are common and they can cause side effects or reduce the beneficial effect of
                the drug. Sometimes, the interaction may promote a beneficial effect. Knowing which interacting agents
                to avoid while taking a drug (for example, food, and herbal drugs) will prevent failure of therapy and
                side effects. It is a good idea to let your pharmacist and all health-care professionals know the drugs
                you are taking so potential drug interactions can be avoided. Also, ask about alternative treatments and
                how effective they are.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
              class="collapsed">What should you do if you miss a dose? <i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                Despite the best of efforts, eventually everyone misses one or more doses of a medication. The remedy
                for this situation depends on the drug. For some drugs, simply taking the missed dose as soon as
                possible is appropriate. For other drugs, it is more appropriate to wait and double the next scheduled
                dose. (However, this can be dangerous with some drugs.) Since the recommendations differ for each drug,
                knowing the correct remedy can prevent therapy from failing and side effects from occurring.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4"
              class="collapsed">How should the drug be taken? <i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
              <p>
                The optimal dose and timing of ingestion of a drug is determined by scientific studies. Drugs provide
                their greatest benefit when they are taken as prescribed. Deviating from the prescribed dose often leads
                to failure of the therapy or to side effects. However, in some circumstances (for example, when severe
                side effects occur), changes in dose may be appropriate, but they should be discussed with a health-care
                professional as soon as possible.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
              class="collapsed">What should you expect the drug to do? <i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
              <p>
                Some drugs cure the condition for which they are prescribed while other drugs provide only relief from
                symptoms. Some drugs provide an immediate benefit while other drugs require more time to be effective.
                To determine whether the drug is working as intended, it is important to know the expected result and
                how long it will take to see that result.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">
      <div class="section-title">
        <h2>Our Happy Customers</h2>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static "img/testimonials/t-1.jpg" %}" class="testimonial-img" alt="">
              <h3>Samiksha Gedam</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I regularly get tests done for my father, who is a diabetic patient. I like the convenience of home
                sample collection and quick delivery of test reports on my email.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static "img/testimonials/t-2.jpg" %}" class="testimonial-img" alt="">
              <h3>Vaishnavi Bangar</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                My first booking experience with MediCare was simple and hassle-free. Selected sample collection slot
                on their app and the technician arrived right on time in the morning. Very impressive.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static "img/testimonials/t-3.jpg" %}" class="testimonial-img" alt="">
              <h3>Anurag Dahiwade</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I got my wife's pregnancy tests done from MediCare. A trained technical visited to collect samples and
                all reports were delivered on time before her doctor's appointment. Will surely choose MediCare for the
                upcoming tests.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static "img/testimonials/t-4.jpg" %}" class="testimonial-img" alt="">
              <h3>Gaurav Gimonkar</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I was surprised to see the wide selection of medicines on MediCare. Now I can compare medicines based
                on prices and ratings and choose the best one for me and my family.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static "img/testimonials/t-5.jpeg" %}" class="testimonial-img" alt="">
              <h3>Soniya Bhondekar</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                My mother had high fever and i know i should give to her but in it is not possible to go to store in
                pandemic . Then, a relative recommended MediCare. It helped me lot.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section><!-- End Testimonials Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Are you looking for a reliable and professional pharmacy ? Our medication services will give you best
          services as a reliable pharmacy in india. Reach out us to get linked and enjoy our services.</p>
      </div>
    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 350px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725!2d72.8493993!3d20.2946335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0d31e9729f7f7%3A0xd4312f31920bf5b1!2sPremier%20Medical%20Corporation%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1695198228985!5m2!1sen!2sin"
        frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container">
      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>Premier Medical Corporation Private Limited, <br>
                A1-302, GIDC, Sarigam INA, Sarigam, Gujarat 396155</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>MediCare444@gmail.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+91 9545176151</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="{% url 'submit_contact' %}" method="post" role="form" class="contact-form">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

  <section id="donate" class="donate">
      <div class="modal" id="mymodal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="title1">Donate Here</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form action="{% url 'donate' %}" method="POST" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <b><label>Donor Information</label></b><br>
                            &emsp;&emsp;<label>Name :</label>
                            <input type="text" style="position: relative; top:0px; left:20px;" name="dnr_name" required>
                            <br>
                            &emsp;&emsp;<label>Address :</label>
                            <input type="text" style="position: relative; top:0px; left:6px;" name="dnr_address" required>
                            <br>
                            &emsp;&emsp;<label>Phone :</label>
                            <input type="tel" style="position: relative; top:0px; left:17px;" name="dnr_phone" pattern="[0-9]{10}" required>

                            <br><br><b><label>Medication Information</label></b><br>
                            &emsp;&emsp;<label>Drug Name :</label>
                            <input type="text" style="position: relative; top:0px; left:18px;" name="drg_name" required>
                            <br>
                            &emsp;&emsp;<label>Lot Number :</label>
                            <input type="text" style="position: relative; top:0px; left:15px;" name="drg_lotno" required>
                            <br>
                            &emsp;&emsp;<label>Expiry Date :</label>
                            <input type="date" style="position: relative; top:0px; left:20px;" name="drg_exdate" required>
                            <br>
                            &emsp;&emsp;<label>Drug Quantity :</label>
                            <input type="number" style="position: relative; top:0px; left:0px;" name="drg_quantity" min="1" required>
                            <br>
                            &emsp;&emsp;<label>Drug Strength :</label>
                            <input type="text" style="position: relative; top:0px; left:1px;" name="drg_strength" required>

                            <br><br><b><label>Certifications </label></b><br>
                            &emsp;&emsp;<label>Donor Signature:</label>
                            <input type="file" style="position: relative; top:0px; left:0px;" name="signature" accept="image/*" required>
                            <br>
                            &emsp;&emsp;<label>Today's Date :</label>
                            <input type="date" style="position: relative; top:0px; left:20px;" id="dnt_tddate" name="today_date" readonly>
                            <br>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn-submit" onSubmit="alert('Thank you for Donation.');">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section><!-- End Donate Section -->


</main><!-- End #main -->

<script>
$(document).ready(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    // alert(maxDate);
    $('#aptdate').attr('min', maxDate);
})

</script>


<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;


document.getElementById('tddate').value = today;
document.getElementById('dnt_tddate').value = today;
document.getElementById('tddate').style.backgroundColor = "white";

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


{% endblock %}