<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
    {% load static %}
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<!-- Favicons -->
  <link href="{% static "img/favicon1.png" %}" rel="icon">
  <link href="{% static "img/favicon.png" %}" rel="favicon">
    <title>Medifirst | Change Password</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/admin.css' %} ">
</head>
<body>
<div class="wrapper">
		<div class="title">
			Change Password
        </div>
            {%  if  validlink  %}
                <form method="post">
                {%  csrf_token  %}
                {{  form.as_p  }}
                <div class="field">
                    <input onclick="location.href = 'www.yoursite.com';" type="submit" value="Change My Password">
                </div>
                </form>
            {% else %}
                <br><p style="text-align:center;">The  password  reset  link  was  invalid,  possibly  because  it  has already  been  used.  Please  request  a  new  password  reset.</p><br>
</div>
{% endif %}
